.boardMainInfo{
    margin-bottom: 10px;
}
#middlePartOfMainContent{
    padding: 10px 10px 0px 10px;
    position: relative;
}
#footerPanel{
    position: absolute;
    width: 100%;
    left: 0;
}
#yandexMap{
    width: 100%;
    height: 400px;
}
.partOfTextAboutCompany{
    border: 1px solid #e4e4e4;
    box-shadow: 0px 5px 5px rgba(17, 17, 17, 0.219);
    padding: 5px;
    margin: 0px 10px 0px 10px;
}
#containerMap{
    display: flex;
    justify-content: center;
}
#contactsList{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px 0px 20px 0px;
}
.contactsBlock{
    display: flex;
    padding: 0px;
    margin: 0px 8px 0px 8px;
    border: 1px solid #e4e4e4;
}
.contactsImg{
    width: auto;
    height: 125px;
}
.contactsText{
    padding-left: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.contactsTextInside{
    margin: 3px 5px 3px 10px;
}
#TextAboutCompany{
    margin: 20px 0px;
    display: flex;
    align-items: start;
}
#rightPartOfBottonTextAboutCompany{
    margin: 0px 10px;
}

@media only screen and (max-width: 1024px ){
    .contactsImg{
        height: 100px;
        width: auto;
    }
    .contactsText{
        font-size: 14px;
    }
    #yandexMap{
        width: 100%;
        height: 300px;
    }
    .partOfTextAboutCompany{
        font-size: 14px;
    }
    .boardMainInfo{
        flex-wrap: wrap;
    }
}
@media only screen and (max-width: 768px ){
    #contactsList{
        flex-wrap: wrap;
        justify-content: center;
    }
    #TextAboutCompany{
        flex-wrap: wrap;
        justify-content: center;
    }
    .partOfTextAboutCompany{
        margin: 10px 5px;
    }
    .boardMainInfo{
        width: 650px;
    }
    .contactsBlock{
        margin: 5px 5px;
    }
}
@media only screen and (max-width: 425px ){
    .boardMainInfo{
        display: flex;
        width: 400px;
    }
}
@media only screen and (max-width: 375px ){
    .boardMainInfo{
        display: flex;
        width: 340px;
    }
    .boardMainInfo img{
        scale: 0.7;
    }
    #workTime{
        margin: 5px 5px;
    }
    #listPhoneNumbers{
        margin: 5px 5px;
    }
    p{
        font-size: 12px;
    }
    #TextAboutCompany{
        display: none;
    }
    #yandexMap{
        width: 90%;
        height: 300px;
    }
}
@media only screen and (max-width: 320px ){
    .boardMainInfo{
        display: flex;
        width: 280px;
    }
    #yandexMap{
        width: 90%;
        height: 300px;
    }
}