#middlePartOfMainContent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#mainContent{
    padding: 5px 15px 5px 15px;
}
.partDimensions{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#spravkaShoe{
    text-align: center;
}
h2,h3{
    text-align: center;
}
#spravkaTop{
    margin-bottom: 3px;
    padding-bottom: 0px;
}
#spravkaDown{
    padding-top: 0px;
    margin-top: 0px;
}
table{
    margin: 0px;
    padding: 0px;
    table-layout: fixed;
    border-collapse: collapse;
}
tr{
    padding: 0px;
    margin: 0px;
}
td{
    margin: 0px;
    border: 1px solid #0e0e0e;
    padding: 5px;
    text-align: center;
}
@media only screen and (max-width: 425px ){
    table{
        font-size: 14px;
    }
    td{
        padding: 1px;
    }
}
@media only screen and (max-width: 375px ){
    table{
        font-size: 12px;
    }
    td{
        padding: 2px;
    }
}
@media only screen and (max-width: 340px ){
    table{
        font-size: 10px;
    }
    td{
        padding: 2px;
    }
}