body{
    padding: 0;
    margin: 0;
    background-color: #f8f8f8;
}
header{
    padding: 0;
    margin: 0;
    background-color: #1f3461;
}
#boardOfInforamationAndLogo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #f8f8f8;
}
#boardOfInforamation{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #f8f8f8;
}
#logoDirection{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#mainLogo{
    width: auto;
    height: 50px;
    margin-right: 10px;
}
#nameOfCompany{
    font-weight: 600;
    font-size: x-large;
    color: #222222;
}
#mailAndAddress{
    display: flex;
    flex-direction: column;
}
#addressDirection{
    margin: 0px 15px 3px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#adressImage{
    margin: 0px 9px 0px 9px;
    height: 25px;
    width: auto;
}
#addressText{
    margin: 0px 5px 0px 5px;
}
#mailDirection{
    margin: 3px 15px 0px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#mailImage{
    margin: 0px 5px 0px 5px;
    height: 15px;
    width: auto;
}
#mailText{
    margin: 0px 5px 0px 5px;
}
#workTime{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#clockImage{
    height: 35px;
    width: auto;
}
#workTimeTextDirection{
    display: flex;
    flex-direction: column;
}
#workMondayToThursday::before{
    margin: 5px 0px 5px 10px;
    height: auto;
    font-weight: bold;
    content: "Пн.-Чт.";
    color:#1f3461;
}
#workMondayToThursday{
    margin: 5px 0px 5px 0px;
    height: auto;
}
#workFriday::before{
    margin: 5px 30px 5px 10px;
    height: auto;
    font-weight: bold;
    content: "Пт.";
    color:#1f3461;
}
#workFriday{
    margin: 5px 0px 5px 0px;
    height: auto;
}
#listPhoneNumbers{
    margin: 0px 0px 0px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#cityPhone{
    margin: 0px 0px 5px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#cityPhoneImage{
    height: 25px;
    width: auto;
}
#cityPhoneDigits{
    margin: 0px 0px 0px 5px;
}
#a1Phone{
    margin: 5px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#a1PhoneImage{
    height: 25px;
    width: auto;
}
#a1PhoneDigits{
    margin: 0px 0px 0px 6.5px;
}
#boardOfMenu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 50px;
    background-color: #1f3461;
}
.menuButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0px 30px 0px 30px;
    background-color: #1f3461;
    transition-duration: 0.5s;
    color: #dadada;
    border: none;
    height: 80%;
}
.textInMenuButton{
    font-size: 14px;
    margin-left: 5px; 
    margin-right: 5px;
}
.menuButton:hover{
    background-color: #124fc0;
}
.menuButton:hover .triangle{
    transition-duration: 0.5s;
    border-top: 10px solid #dadada;
}
#inputSearch{
    background-color: #dadada;
    border: 1px solid #111111;
    border-radius: 4px;
    font-size: 14px;
    color: #000000;
}
#menuButtonImgField{
    margin: 0px 0px 0px 5px;
    width: 50px;
    height: 80%;
}
#menuButtonImg{
    width: 30px;
    height: 30px;
}
#directionOfChangingPicture{
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
    background-color: #727f9b;
}

footer{
    padding: 0;
    background-color: #727f9b;
}
.triangle {
    margin: 0px 5px 0px 10px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #dadada;
}
#scroller{
    width: 100%;
    height: 500px;
    padding: 0;
    margin: 0;
    display: flex;
    position: relative;
    overflow: hidden;
}
#scrollerContent{
    height: 100%;
    width: 100%;
    display: flex;
}
#scrollerContent img{
    height: 100%;
}
.scrollerContentImgLeft{
    position: absolute;
    width: 100%;
    transform: translateX(-100%);
    transition: 1.45s;
}
.scrollerContentImgRight{
    position: absolute;
    width: 100%;
    transform: translateX(100%);
    transition: 1.15s;
}
.scrollerContentImgMiddle{
    position: absolute;
    width: 100%;
    transform: translateX(0%);
    transition: 1.15s;
    
}
.scrollerButton{
    height: 100%;
    width: 7.5%;
    position: absolute;
    opacity: 0;
    transition: 0.85s;
    border: none;
    background: none;
    font-size: larger;
    color: #111111;
}
.scrollerButton:hover{
    opacity: 0.5;
}
.scrollerButton:active{
    opacity: 0.6;
}
#scrollerControlButtonNext{
    left: 100%;
    transform: translateX(-100%);
}
#scrollerControlButtonNext:hover{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(0,89,255,0.40) 40%, rgba(0,89,255,1) 100%);
}
#scrollerControlButtonNext:active{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(0,89,255,0.60) 45%, rgba(0,89,255,1) 100%);
}
#scrollerControlButtonPrev:hover{
    background: rgb(255,255,255);
    background: linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(0,89,255,0.40) 40%, rgba(0,89,255,1) 100%);
}
#scrollerControlButtonPrev:active{
    background: rgb(255,255,255);
    background: linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(0,89,255,0.60) 45%, rgba(0,89,255,1) 100%);
}
#directionOfMainContent{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#leftPartOfMainContent{
    background-color: #fff;
    width: 100%;
    justify-self: start;
}
#middlePartOfMainContent{
    background-color: #f8f8f8;
    box-shadow: 0px 50px 100px 15px #111c;
    z-index: 1;
}
#rightPartOfMainContent{
    background-color: #fff;
    width: 100%;
    justify-self: end;
    z-index: 0;
}
#mainBlockMerit{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 300px;
}
.partBlockMerit{
    height: 290px;
    width: 180px;
    margin: 0px 15px 0px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.imgInBlockMerit{
    width: 150px;
    height: auto;
    margin: 5px 5px 15px 5px;
}
.textInBlockMerit{
    margin: 0;
}
.containerMiniImgInBlockMerit{
    width: 150px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blockTopItem{
    overflow: hidden;
    height: 250px;
    width: 250px;
    margin: 5px 25px 5px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 2px solid#124fc18c;
    border-radius: 14px;
    box-shadow: 0px 0px 0px #fff;
    transition: 1.4s;
}
.blockTopItem img{
    width: max-content 250px;
    height: 100%;
}
.textTopItem{
    position: absolute;
    font-size: large;
    text-align: justify;
    left: 0;
    bottom: 0;
    margin: 2px 0px 4px 5px;
}
.backgroundTextTopItem{
    height: 100%;
    width: 100%;
    position: absolute;
    transition: 1.85s;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 15%, rgba(255,255,255,0) 45%);
    opacity: 0;
}
.blockTopItem:hover .backgroundTextTopItem{
    transition: 0.7s;
    opacity: 0.9;
}
.blockTopItem:hover{
    transition: 0.4s;
    box-shadow: 0px 5px 25px #111c;
}
#directionTopItems{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#directionTopItems a{
    color: #000000;
}
#directionTopItems a:visited{
    color: #000000;
}
#directionTopItems a:active{
    color: #000000;
}
#listTopItems{
    display: flex;
    justify-content: center;
    margin: 50px 0px 100px 0px;
}
footer{
    background: rgb(249,253,228);
    background: linear-gradient(0deg, rgba(249,253,228,1) 50%, rgba(248,248,248,1) 100%);
    padding-top: 5%;
}
#bottonTextAboutCompany{
    display: flex;
    flex-direction: row;
    text-align: justify;
    justify-content: start;
    margin-bottom: 30px;
}
.partOfBottonTextAboutCompany{
    margin: 5px 15px 5px 15px;
}
#leftPartOfBottonTextAboutCompany{
    width: 335px;
}
#middlePartOfBottonTextAboutCompany{
    width: 265px;
}
#rightPartOfBottonTextAboutCompany{
    width: 270px;
}
#bottonMenu{
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-right: 10px;
}
.partOfBottonMenu{
    margin: 0px 10px 5px 0px;
}
#bottonMenu a, a:visited, a:active{
    color: #000000;
    text-decoration: none;
}
#bottonMenu a:hover{
    text-decoration:underline;
}

@media only screen and (max-width: 1230px ){
    .blockTopItem{
        width: 200px;
        height: 200px;
        margin: 5px 15px 5px 15px;
    }
    #listTopItems{
        margin: 50px 0px 50px 0px;
    }
    #mainBlockMerit{
        margin-top: 10px;
        height: 300px;
    }
    .containerMiniImgInBlockMerit{
        width: 150px;
        height: 150px;
    }
    .textInBlockMerit{
        font-size: 16px;
    }
    .partBlockMerit{
        height: 240px;
        width: 150px;
        margin: 0px 12px 0px 12px;
    }
    .imgInBlockMerit{
        width: 110px;
        height: auto;
        margin: 5px 5px 15px 5px;
    }
    #scroller{
        height: 400px;
    }
}
@media only screen and (max-width: 970px ){
    .blockTopItem{
        width: 160px;
        height: 160px;
        margin: 5px 15px 5px 15px;
    }
    #listTopItems{
        margin: 20px 0px 30px 0px;
    }
    #mainBlockMerit{
        margin-top: 10px;
        height: 250px;
    }
    .containerMiniImgInBlockMerit{
        width: 110px;
        height: 110px;
    }
    .textInBlockMerit{
        font-size: 14px;
    }
    .partBlockMerit{
        height: 200px;
        width: 130px;
        margin: 0px 12px 0px 12px;
    }
    .imgInBlockMerit{
        width: 90px;
        height: auto;
        margin: 5px 5px 15px 5px;
    }
    #scroller{
        height: 400px;
    }
    #bottonTextAboutCompany{
        flex-wrap: wrap;
        justify-content: center;
    }
    #leftPartOfBottonTextAboutCompany{
        width: 335px;
    }
    #middlePartOfBottonTextAboutCompany{
        width: 265px;
    }
    #rightPartOfBottonTextAboutCompany{
        margin-top: 20px;
        width: 270px;
    }
    #boardOfInforamation{
        flex-wrap: wrap;
    }
    #workTime{
        margin-right: 36px;
    }
}
@media only screen and (max-width: 780px ){
    .blockTopItem{
        width: 110px;
        height: 110px;
        margin: 5px 8px 5px 8px;
    }
    #listTopItems{
        margin: 20px 0px 30px 0px;
    }
    #mainBlockMerit{
        margin-top: 10px;
        height: 250px;
    }
    .containerMiniImgInBlockMerit{
        width: 110px;
        height: 110px;
    }
    .textInBlockMerit{
        font-size: 14px;
    }
    .partBlockMerit{
        height: 200px;
        width: 90px;
        margin: 0px 12px 0px 12px;
    }
    .imgInBlockMerit{
        width: 90px;
        height: auto;
        margin: 5px 5px 15px 5px;
    }
    #scroller{
        height: 400px;
    }
    #bottonTextAboutCompany{
        flex-wrap: wrap;
        justify-content: start;
    }
    .textInMenuButton{
        font-size: 12px;
    }
    #inputSearch{
        font-size: 12px;
        width: 95%;
    }
    .menuSearchArea{
        width: 130px;
    }
    #menuButtonImg{
        width: 25px;
        height: 25px;
    }
    #boardOfMenu{
        height: 40px;
    }
    .menuButton{
        margin: 0px 20px 0px 20px;
    }
}
